%html
  %head
    %meta{ :charset=>"utf-8" }
    %title Bugzilla (Red Hat Open House)
    %link{ :href=>"/css/bootstrap.min.css", :rel=>"stylesheet" }
    %link{ :href=>"/css/bugzilla.css", :rel=>"stylesheet" }
    %script{ :src=>"/js/jquery.min.js"  }
    %script{ :src=>"/js/tasks.js" }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{ :class=>"brand", :href=>"/" } Red Hat Open House Bugzilla

    .container
      = yield

    %footer= '&copy;' + ' 2009&ndash;' + Time.now.year.to_s + ' Red Hat Czech.'
