%h2 Player registration

%p

.row
  .span6
    %form{:class=>"form-horizontal", :action=>"/registration/", :method=>"post"}
      .control-group
        %label{:class=>"control-label", :for=>"input_name"} Name and surname
        .controls
          %input{:type=>"text", :id=>"input_name", :name=>"name", :class=>"input-xlarge", :required=>"true"}


      .control-group
        %label{:class=>"control-label", :for=>"input_name"} E-mail address
        .controls
          %input{:type=>"email", :id=>"input_mail", :name=>"email", :class=>"input-xlarge", :required=>"true"}

      .control-group
        %label{:class=>"control-label"} Machine
        .controls
          %span{:class=>"uneditable-input input-xlarge"}
            =h machine_name

      .control-group
        %label{:class=>"control-label"}>I agree to the <a href="terms_of_service">terms of service</a>
        .controls
          %input{:type=>"checkbox", :name=>"terms_of_service", :checked=>"true", :value=>1, :required=>"true"}

      .form-actions
        %button{:type=>"submit", :class=>"btn btn-primary"} Submit

  .span6
    %p
      Please, provide your name and e-mail address.

    %p
      We will send you a link with the overall results and task solutions after the
      competion. If you are between the best participants we will also send you
      which prise you win and how to get it.

    %p
      We will not use your e-mail address for any other purpose.

    %p Insert custom terms of service here
