%html
  %head
    %meta{:charset=>"utf-8"}
    %title Bughunting - results
    %link{:href=>"/css/bootstrap.min.css", :rel=>"stylesheet"}
    
  %body
    .container
      %h1 Results
      
      %p
        %b Generated at: #{Time.now.strftime "%F %T %z"}
      
      %table{:class=>"table table-bordered"}
        %thead
          %tr
            %th.span1 Rank
            %th.span1 Score
            %th.span2 Last scoring
            %th.span2 Machine
            %th.span3 Player
            %th.span3 E-mail
        %tbody
          - counter = 0
          - ranking.each do |rank|
            %tr
              %td= counter += 1
              %td= rank[:score]
              %td= rank[:last_scoring].nil? ? "(none)" : rank[:last_scoring]
              %td= h machine_name(rank[:player], true)
              %td= h rank[:name]
              %td= h rank[:email]